* {
    padding: 0;
    margin: 0;
  }
  html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
  }
  section {
    min-height: 100vh;
    width: 100%;
    background-color: rgba(150, 200, 150, 0.417);
    padding: 20px 0;
  }
  section h1 {
    color: rgb(240, 240, 240);
    text-align: center;
    width: 100%;
    font-size: 40px;
    margin-bottom: 15px;
  }
  section p.notes {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(90, 185, 189);
    width: 30%;
    margin-left: 35%;
    margin-bottom: 40px;
  }
  .container {
    width: 100%;
    max-width: 40%;
    margin: 0 auto;
  }
  .words p {
    color: rgba(17, 119, 119, 0.768);
    text-align: left;
    width: 100%;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 5px;
    border-color: rgb(255, 0, 0);
    border-width: 2px;
    border-style: dashed;
  }




  